<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let room = "<%= room_id %>";
            let current_sentence = "<%= c_sentence %>";
        </script>

        <script src="/js/answer_page.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <div class="answer_page">
                    <p>Complete the following sentence (every hole must contain a number of chars between <%= min_chars %> and <%= max_chars %>) :</p>

                    <div id="sentence-container"></div><!-- Do not delete anything -->

                    <br />

                    <input type="submit" onclick="submitAnswer()" value="Submit"><!-- Do not delete the 'onclick' param -->
                </div>
            </div>
        </main>


        <%- include('../../partial/footer') %>
    </body>
</html>
