<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let perso_uuid = <%= pl_uuid %>;
            let room = "<%= room_id %>";
            let players_answers = JSON.parse("<%= players_i %>".replace(/&#34;/g, '"'));
        </script>

        <script src="/js/vote_page.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <div class="vote_page">
                    <p>Select the uuid of the player with the best sentence :<p>
                    <div id="vote_select_area"></div><!-- Do not delete the 'id' param -->
                    <br />
                    <input type="submit" onclick="submitAnswer()" value="Valider"><!-- Do not delete the 'onclick' param -->

                    <br /><br />
                    <p>Sentences :</p>
                    <ul id="vote_sentences_list"></ul><!-- Do not delete the 'id' param -->
                </div>
            </div>
        </main>


        <%- include('../../partial/footer') %>
    </body>
</html>
