<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let room = "<%= room_id %>";
        </script>

        <script src="/js/create_game.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <form action="/req/set_config" method="post">
                    <p>CONFIGURATION</p>
                    <label>Choose a number between <%= min_round %> and <%= max_round %>.
                        <input name="round_count" type="text" placeholder="Nombre de rounds" />
                    </label>

                    <input style="display: none;" name="room_id" type="text" value="<%= room_id %>" />

                    <input type="submit" value="Valider">
                </form>
            </div>
        </main>


        <%- include('../../partial/footer') %>
    </body>
</html>
