<!-- WAITING FOR OTHER PLAYERS -->
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    let socket = io.connect();
    let room = "<%= room_id %>";
    let isSuperAdmin = <%= is_super_admin %>;
    let error = "<%= error %>";

    socket.on('connect', function() {
        if(room != "")
            socket.emit('join_room', room);
    });

    socket.on('game_reload', function() {
        document.location.reload();
    });

    socket.on('new_player', function(player_total_count) {
        alert(`A new player has come. Total player count is now ${player_total_count}.`);
    });

    window.onload = function() {
        if(isSuperAdmin) {
            document.getElementById('submit_button').style.display = 'unset';
            document.getElementById('cancel_button').style.display = 'unset';
        }

        if(error && parseInt(error) == 1)
            alert('You must be a minimum of <%= min_players %> and a maximum of <%= max_players %> in order to play.');
    };
</script>


<p>Waiting for other players... You must be a minimum of <%= min_players %> and a maximum of <%= max_players %> in order to play.</p>

<form action="/req/begin_party" method="post">
    <input style="display: none;" id="submit_button" type="submit" value="Commencer la partie">

    <input style="display: none;" type="text" name="room_id" value="<%= room_id %>">
</form>

<br />

<form action="/req/cancel_party" method="post">
    <input style="display: none;" id="cancel_button" type="submit" value="Annuler">

    <input style="display: none;" type="text" name="room_id" value="<%= room_id %>">
</form>
