<!DOCTYPE html><!-- PAGE ON WHICH THE USER SHOULD FILL IN THE BLANKS -->
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            let socket = io.connect();
            let room = "<%= room_id %>";
            let isSuperAdmin = <%= is_super_admin %>;
            let error = "<%= error %>";
            let max_players = <%= max_players %>;
            let min_players = <%= min_players %>;
        </script>

        <script src="/js/waiting_screen.js" charset="utf-8"></script>
    </head>

    <body>
        <header>
            <%- include('../../partial/header') %>
        </header>


        <main>
            <div class="m-section">
                <!-- Tu peux modifier qu'à partir d'ici sinon je te décapite -->
                <p>Waiting for other players... You must be a minimum of <%= min_players %> and a maximum of <%= max_players %> in order to play.</p>

                <form action="/req/begin_party" method="post">
                    <input style="display: none;" id="submit_button" type="submit" value="Start playing"><!-- Do not delete the 'value' and 'id' param -->

                    <input style="display: none;" type="text" name="room_id" value="<%= room_id %>"><!-- Do not delete the 'value' and 'name' param -->
                </form>

                <br />

                <form action="/req/cancel_party" method="post">
                    <input style="display: none;" id="cancel_button" type="submit" value="Cancel"><!-- Do not delete the 'value' and 'id' param -->

                    <input style="display: none;" type="text" name="room_id" value="<%= room_id %>"><!-- Do not delete the 'value' and 'name' param -->
                </form>
            </div>
        </main>


        <%- include('../../partial/footer') %>
    </body>
</html>
